<section movie-highlight>

    <h1> <%= title %> </h1>
    <div>

        <% results.forEach(result => { %>

        <a href="/movie/<%= result.id %>">
            <div>
                <div>
                    <h2> <%= result.title %> </h2>
                    <p> <%= result.overview %> </p>
                </div>

                <div>
                    <p>Release date: <%= result.release_date %> </p>
                    <p>Score: <%= result.vote_average %> </p>
                    <p>Popularity: <%= result.popularity %> </p>
                </div>
            </div>

            <div>
                <img src="https://image.tmdb.org/t/p/w200/<%= result.poster_path %>" alt="<%= result.title %>">
            </div>
        </a>

        <% }) %>

</section>