<%- include ('../components/head') %>

<main>

    <%- include ('../components/hot-movie') %>
    <%- include ('../components/movielist', { results: popular_movies, title: 'Popular movies' }) %>
    <%- include ('../components/movielist', { results: upcoming_movies, title: 'Upcoming movies' }) %>

</main>

<%- include ('../components/footer') %>