<%- include ('../components/head') %>

<h1><%= title %></h1>

<main>
    <ul>

        <% movies.forEach(movie => { %>

        <li>
            <a href="/movie/<%= movie.id %>">
                <p><%= movie.original_title %></p>
                <img src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>">
            </a>
        </li>

        <% }) %>

    </ul>
</main>

</body>

<%- include ('../components/footer') %>