<%- include ('../components/head') %>

<h1><%= title %></h1>

<ul movie-list>

    <% movies.forEach(movie => { %>

    <a href="/movie/<%= movie.id %>">
        <li>
            <img src="https://image.tmdb.org/t/p/w300/<%= movie.poster_path %>">
        </li>
    </a>

    <% }) %>

</ul>

<%- include ('../components/footer') %>